<% if (post.categories && post.categories.length){ %>
  <span class="post-categories">
	<%- list_categories(post.categories, {
      show_count: false,
      class: 'post-category',
      style: 'none',
      separator: ', '
    }) %>
  </span>
<% } %>
