<span class="entry-comments">
  <% if (theme.disqus_shortname) { %>
    <a href="<%- url_for(post.path) %>#comments" itemprop="discussionUrl">
      <span class="disqus-comment-count" data-disqus-identifier="<%= post.path %>" data-disqus-url="<%= page.permalink %>" itemprop="commentCount"></span>
    </a>
  <% } %>
</span>
