<% if (theme.leancloud_visitors.enable) { %>
  <span id="<%= url_for(post.path) %>" class="leancloud_visitors entry-visitor" data-flag-title="<%= post.title %>"><a class="leancloud-visitors-count"></a></span>
<% }%>