<!-- 标签页面，可选择性注释部分模块 -->

<div class="archive">
  <h1 class="archive-count"><%= __('tag_total_count', site.tags.length) %></h1>
</div>

<div class="archive tags">
  <% if(site.tags.length) { %>
    <%- tagcloud({min_font: 14, max_font: 28}) %>
  <% } %>
</div>

<div class="archive list">
  <% if(site.tags.length) { %>
    <%- list_tags({class: 'archive'}) %>
  <% } %>
</div>

<!-- <% site.tags.sort('name').map(function(tag){  %>
  <%- partial('_partial/archive', {
    page: tag, title: tag.name, pagination: config.tag, index: true
  }) %>
<% }) %> -->
