<% if (site.posts.length){ %>
  <aside class="widget widget_archives">
    <h4 class="widget-title"><%= __('archives') %></h4>
    <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
  </aside>
<% } %>
