.content-area
  width: 871px
  @media only screen and (max-width: 1199px)
    width: 700px
  @media only screen and (max-width: 991px)
    width: 100%
.widget-area
  width: 300px
  @media only screen and (max-width: 1199px)
    width: 250px
  @media only screen and (max-width: 991px)
    display: none