.archive
  @media md-min
    border-right: 1px solid #f2f2f3

  &.tags
    margin: 0 0 -1px
    padding: 30px 50px
    border-top: 1px solid #f2f2f3
    border-bottom: 1px solid #f2f2f3
    a
      display: inline-block
      height: 32px
      margin: 5px
      line-height: @height
      color: #272727
  blockquote
    margin: 0
    padding: 1em
    font-size: 1.2em
    font-weight: bold
    color: #656d6d
    text-align: center
    border: none
    a
      padding: 0 5px
      color: #272727
      text-decoration: none
      &:hover
        color: #fcd088
        text-decoration: none

  .archive-count,
  .archive-year
  .archive-category,
  .archive-tag
    display: block
    margin: 0 0 -1px
    padding: 20px 50px
    color: #272727
    font-size: 1.4em
    border-top: 1px solid #f2f2f3
    border-bottom: 1px solid #f2f2f3
    text-decoration: none
    &:hover
      text-decoration: none

  .archive-year:before,
  .archive-category:before,
  .archive-tag:before
    font-family: "FontAwesome"
    margin-right: 10px
    font-size: 1.1em
    color: #fcd088

  .archive-year:before
    content: "\f073"
  .archive-category:before
    content: "\f114"
  .archive-tag:before
    content: "\f02c"

  ul.archive-list
    margin: 0 0 -1px
    padding: 50px
    border-top: 1px solid #f2f2f3
    border-bottom: 1px solid #f2f2f3
    li.archive-item
      position: relative
      margin-bottom: 15px
      font-size: 0
      &:last-child
        margin-bottom: 0
      .post-date,
      .post-title
        display: inline-block
        line-height: 1.6
        font-size: 16px
        color: #272727
      .post-date
        position: absolute
        left: 0

      .post-title
        margin-left: 120px

    li.archive-list-item
      position: relative
      display: inline-block
      width: 140px
      padding: 5px 0
      box-sizing: border-box
      .archive-list-link,
      .archive-list-count
        color: #272727

      .archive-list-count
        position: relative
        margin-left: 2px
        &:before
          content: '('
          padding-right: 1px
        &:after
          content: ')'
          padding-left: 1px



.archive-entry-date
  float: left
  margin-right: 0.9em
  font-size: 1.2em
  line-height: 1.2
  font-family: 'Open Sans', sans-serif
  a
    font-size: 1.2em
    line-height: 1.2
    color: #272727
    text-decoration: none
    transition: color 0.3s
    &:hover
      color: #fcd088
      text-decoration: none

.archive-entry-title
  display: inline-block
  margin: 0
  padding-left: 0.9em
  border-left: 1px solid #272727;
  font-family: 'Open Sans', sans-serif
  font-size: 1.2em
  line-height: 1.2
  a
    font-size: 1.2em
    line-height: 1.2
    color: #272727
    text-decoration: none
    transition: color 0.3s
    &:hover
      color: #fcd088
      text-decoration: none

.paginator
  margin: 0 0 -1px
  padding: 50px
  background: #fff
  text-align: center
  border-top: 1px solid #f2f2f3
  border-bottom: 1px solid #f2f2f3
  @media md-min
    border-right: 1px solid #f2f2f3
  a, span
    display: inline-block
    width: 42px
    height: 42px
    line-height: @height
    color: #fcd088
    text-decoration: none
    text-align: center
    box-sizing: border-box
    border: 1px solid #fcd088
    &:not(:last-child)
      margin-right: -1px
    &:hover
      color: #272727
      background: #fcd088
  .current
    color: #272727
    background: #fcd088


.page-header
	border-bottom: 1px solid #F2F2F3
	margin: 0
	padding: 20px 60px
.page-header .page-title
	margin: 0
	padding: 0
.page-header .page-title .fa
	margin-right: 15px
	color: #fcd088

.comment-navigation,
.posts-navigation
	margin: 0
	overflow: hidden
	padding: 30px 60px

.comment-navigation .nav-prev,
.posts-navigation .nav-prev
	float: left
	width: 50%
.comment-navigation a,
.posts-navigation a,
.post-navigation a
	color: #272727
.comment-navigation a:hover,
.posts-navigation a:hover,
.post-navigation a:hover
	color: #fcd088
	text-decoration: none
.comment-navigation .nav-next,
.posts-navigation .nav-next
	float: right
	text-align: right
	width: 50%
