.article
  margin: 0 0 -1px
  padding: 30px
  background: #fff
  box-sizing: border-box
  border-top: 1px solid #f2f2f3
  border-bottom: 1px solid #f2f2f3
  @media md-min
    padding: 50px
    border-right: 1px solid #f2f2f3
  .post-title
    display: block
    margin-top: 0
    margin-bottom: 20px
    font-family: 'Josefin Sans', sans-serif
    font-size: 25px
    color: #272727
  .post-meta
    margin-bottom: 30px
    padding: 5px
    border-top: 1px solid #f2f2f3
    border-bottom: 1px solid #f2f2f3
  .post-meta,
  .post-meta a,
  .post-footer,
  .post-footer a
    color: #a0a8ab
  .post-meta,
  .post-footer
    font-size: 13px
  .post-meta span::before,
  .post-footer span ::before
    font-family: 'FontAwesome'
    margin-right: 5px
  .post-meta .post-categories::before
    content: '\f114'
  .post-meta .post-comments::before
    content: '\f0e6'
  .post-meta .post-date::before
    content: '\f073'
  .post-meta .post-visitor::before
    content: '\f06e'
  .post-meta .post-tags::before
    content: '\f02c'
  .post-meta span::after
    content: '/'
    margin: 0 15px
  .post-meta span:last-of-type::after
    content: ''
    margin: 0
  .post-thumb
    padding-right: 30px
  .post-thumb,
  .post-thumb
    transition: opacity 0.4s
  .post-thumb:hover,
  .post-thumb:hover
    opacity: 0.7
  .post-thumb
    margin-bottom: 30px
  .has-post-thumbnail .post-summary,
  .post-thumb
    width: 50%
    float: left
  .post-thumb,
  .post-summary
    margin-bottom: 30px
  .read-more
    clear: both
    margin-bottom: 0

/*post-meta*/
.post-date
.post-category-link
  display: inline-block
  margin: 0
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  -webkit-padding-start: 0

.post-comment-link
  float: right
  &:before
    content: "\f075"
    font-family: "FontAwesome"
    padding-right: 8px

/*post-content*/
.post-content
  clearfix()
  padding: 0
  @extend $base-style
  p, table
    line-height: 1.9
  h1, h2, h3, h4, h5, h6
    line-height: 1.1em
    margin: 1.1em 0
  a
    color: #428bca
    text-decoration: none
    &:hover
      color: #fcd088
      text-decoration: none
  ul, ol, dl
    padding-left: 0
    padding-right: 0
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: bold
    border-bottom: 3px solid #eef1f8
    padding-bottom: 0.5em
  td
    border-bottom: 1px solid #eef1f8
    padding: 10px 0
  blockquote
    padding: 0.1px 20px
    font-size: 1.1em
    margin: 1.2em 0
    font-family: "futura-pt", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif
    border-left: 5px solid #fcd088
    background: rgba(208,211,248,0.15)
    p
      font-size: 1.1em
      color: #333
      margin: 1.2em 0!important
    footer
      font-size: 14px
      margin: 10px 0
      font-family: -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
      cite
        &:before
          content: "—"
          padding: 0 0.5em
  .pullquote
    background: transparent
    border-left: 0px
    padding: 10px 25px
    margin: 18px 0
    font-style: italic
    text-align: left
    width: 45%
    margin: 0
    p
      font-family: Georgia,Microsoft JhengHei,"sans serif"
      font-size: 19px
    &:before
      float: left
      font-family: "FontAwesome"
      content: "\f10d"
      margin-left: -0.5em
    &:after
      float: right
      font-family: "FontAwesome"
      content: "\f10e"
      margin-right: -0.5em
      margin-top: -1em
    &.left
      margin-left: 0.5em
      margin-right: 1em
    &.right
      margin-right: 0.5em
      margin-left: 1em
  .caption
    color: #999
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0

.post-navigation
  display: flex
  justify-content: space-between
  align-items: center
  flex-flow: wrap
  margin: 0
  padding: 20px 30px
  overflow: hidden
  @media md-min
    padding: 20px 50px
    border-right: 1px solid #f2f2f3
  a
    display: block
    margin: 5px 0
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.nav-link
  font-family: 'Josefin Sans', sans-serif
  color: #428bca
  padding 1px !important
  &:hover
    color: #fcd088
    text-decoration: none

.post-footer
  display: flex
  justify-content: space-between
  align-items: center
  flex-flow: wrap
  margin-top: 30px

p.post-copyright,
ul.post-tag-list
  display: block
  margin: 5px 0
  font-family: "Microsoft YaHei", sans-serif
  line-height: 1.6
  font-size: 12px
  color: #a0a8ab

li.post-tag-list-item
  display: inline-block
  margin-right: 10px
  &:before
    content: '\f02c'
    font-family: 'FontAwesome'
    margin-right: 5px
  &:last-child
    margin-right: 0
  .post-tag-list-link
    line-height: 1.6
    font-size: 12px
