@media only screen and (max-width: 1199px)
	.woocommerce
		width: 610px
		padding: 60px 30px

	.masonry-layout .hentry
		width: 283px

	.header-text
		font-size: 42px

	.header-info
		top: 30%

	.header-subtext
		padding-bottom: 15px
		margin-bottom: 15px

	.header-button
		margin-top: 30px

	.fact .fact-number
		font-size: 28px

	.fact .fa
		font-size: 36px

	.fact .fact-name
		font-size: 18px

	.has-post-thumbnail .entry-summary,
	.entry-thumb
		width: 100%

	.entry-thumb
		padding-right: 0

@media only screen and (max-width: 1024px)
	.main-navigation,
	.header-clone,
	.large-header
		display: none

	.mobile-nav,
	.small-header
		display: block

	.site-header.has-header
		position: relative
		background-color: #202529

	.home-wrapper section
		background-attachment: scroll

@media (max-width: 991px)
	.woocommerce .content-area,
	.content-area,
	.widget-area
		width: 100%
		margin-left: 0px
		margin-right: 0px

	.masonry-layout .hentry
		width: 330px

	.header-text
		font-size: 22px

	.header-subtext
		font-size: 16px
		padding-bottom: 10px
		margin-bottom: 10px

	.header-button
		margin-top: 20px

	.astrid-3col
		width: 48%

	.astrid-3col:nth-of-type(2n+1)
		clear: left

	.astrid-3col:nth-last-of-type(3)
		margin-bottom: 45px

	.astrid-3col:last-of-type,
	.astrid-3col:nth-last-of-type(2)
		margin-bottom: 0

	.fact
		width: 49%
		margin-bottom: 45px

	.fact:nth-of-type(3)
		clear: left

	.fact:last-of-type,
	.fact:nth-last-of-type(2)
		margin-bottom: 0

	.multicolumn-row,
	.multicolumn-row section
		display: block

	section.at-2-col,
	section.at-3-col
		width: 100%
		display: block

	.project
		width: 50%

	.project:nth-of-type(2n+1)
		clear: left

	.project-title
		font-size: 18px

	.client
		width: 48%

	.client:nth-last-of-type(3),
	.client:nth-last-of-type(4)
		margin-bottom: 45px

	.atblock .widget-title
		font-size: 26px !important

	.footer-info .container
		display: block

	.footer-branding,
	.footer-contact
		display: block
		width: 100%
		border: 0
		float: none

	.site-copyright,
	.footer-navigation
		width: 100%
		float: none
		text-align: center
		padding: 0

	.footer-navigation
		margin-bottom: 15px

	.woocommerce .content-area,
	.hentry
		padding: 30px

	.comment-navigation,
	.posts-navigation
		padding: 30px

@media only screen and (max-width: 768px)
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
		clear: none

	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product
		width: 50%

	.woocommerce ul.products li.product:nth-of-type(2n+1),
	.woocommerce-page ul.products li.product:nth-of-type(2n+1)
		clear: left

@media only screen and (max-width: 767px)
	.masonry-layout .hentry
		width: 100%
		max-width: 380px
		margin: 0 0 15px

	.posts-layout.masonry
		display: table
		margin-left: auto
		margin-right: auto
		width: 100% !important
		max-width: 380px

	.astrid-3col
		width: 100%
		margin-bottom: 30px

	.astrid-3col:nth-last-of-type(2),
	.astrid-3col:nth-last-of-type(3)
		margin-bottom: 30px

	.fact
		width: 100%

	.fact:nth-last-of-type(2)
		margin-bottom: 45px

	.client:nth-last-of-type(3),
	.client:nth-last-of-type(4)
		margin-bottom: 30px

	.client
		padding: 0 15px

	.footer-contact-block
		width: 100%
		margin-bottom: 30px


