.footer-widgets,
.site-footer,
.footer-info
	background-color: #202529
	clear: both
	text-transform: uppercase

.footer-widgets
	padding: 60px 0
	border-bottom: 1px solid rgba(255,255,255,0.08)

.footer-widgets,
.footer-info,
.site-footer,
.footer-widgets a,
.footer-info a,
.site-footer a
	color: #a3aaaa

.site-footer a:hover,
.footer-info a:hover,
.footer-widgets a:hover
	text-decoration: none
	color: #fcd088

.footer-widgets .widget-title
	margin: 0 0 30px
	color: #fff

.footer-widgets .widget
	margin: 25px 0

.sidebar-column
	padding: 0 20px

.site-footer
	padding-top: 30px
	padding-bottom: 30px
	.container
		max-width: gridsystem-width(columns) + gutter-width
		margin: auto
		clearfix()

.site-copyright
	text-align: right
	padding-right: 30px
	box-sizing: border-box


/* Footer nav */
.site-copyright,
.footer-navigation
	width: 50%
	float: left

.footer-navigation ul
	list-style: none
	padding: 0
	margin: 0

.footer-navigation li
	display: inline-block
	padding: 0 15px

/* Footer branding */
.footer-info
	border-bottom: 1px solid rgba(255,255,255,0.08)

.footer-branding
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-justify-content: center
    justify-content: center
    -webkit-align-items: center
    align-items: center
	width: 30%
	float: left
	text-align: center
	padding: 20px 30px 10px 15px

.footer-logo
	max-height: 100px
	width: auto
	max-width: 100%

/* Footer contact */
.footer-contact
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-justify-content: center
    justify-content: center
    -webkit-align-items: center
    align-items: center
	width: 70%
	padding: 20px 15px
	border-left: 1px solid rgba(255,255,255,0.08)

.footer-info .container
    display: -webkit-flex
    display: -ms-flexbox
    display: flex

.footernoFlex
	float: left

.footer-contact-block
	display: inline-block
	text-align: center
	width: 33%
	padding: 0 20px

.footer-contact-block .fa
	font-size: 22px

.footer-contact-block span
	display: block
	border-top: 1px solid rgba(255,255,255,0.08)
	margin-top: 10px
	padding-top: 10px

