.widget-area
	@media md-min
		column(side-column)
		margin-left: -1px

.widget-area .widget
	margin: 0 0 -1px
	padding: 30px
	color: #656d6d
	background: #fff
	box-sizing: border-box
	border-top: 1px solid #f2f2f3
	border-bottom: 1px solid #f2f2f3
	@media md-min
		border-left: 1px solid #f2f2f3
.widget li
	padding-top: 2px
	padding-bottom: 2px
.widget .children
	padding-left: 20px
.widget-area .widget,
.widget-area .widget a
	color: #656d6d
.widget-area .widget a:hover
	color: #fcd088
.widget-area .widget-title
	text-transform: uppercase
	margin: 0 0 20px

/* Make sure select elements fit in widgets. */
.widget select
	max-width: 100%

/* Search widget. */
.widget_search .search-submit
	display: none

/* Recent posts */
.widget_recent_posts ul
	list-style: none
	padding: 0
.widget_recent_posts li
	padding-bottom: 15px
.widget_recent_posts li:last-of-type
	padding-bottom: 0
.widget_recent_posts .recent-thumb
	padding: 0 15px 0 0
.widget_recent_posts .recent-title
	padding: 0
.widget_recent_posts .post-date
	display: block
	font-size: 12px
	padding: 3px
	margin-top: 5px
.widget_recent_posts .post-date .fa
	margin-right: 6px

/* Social widget */
.social-menu-widget
	padding: 0 !important
	margin: 0 auto
	display: table
	text-align: left
.social-menu-widget a
	background-color: #eaab1c
	text-decoration: none
	display: inline-block
	width: 40px
	height: 40px
	margin: 8px
	line-height: 40px
	-webkit-transition: border-radius 0.4s
	transition: border-radius 0.4s
.social-menu-widget li a,
.social-menu-widget li a:hover
	color: #fff !important
.social-menu-widget a:hover
	border-radius: 50%
.social-menu-widget li
	display: inline-block
	list-style: none
	line-height: 1
	text-align: center
.social-menu-widget a:before
	font-family: FontAwesome
	color: inherit
.social-menu-widget a:before
	font-size: 20px

.social-menu-widget a[href*="twitter.com"]::before
	content: '\f099'
.social-menu-widget a[href*="facebook.com"]::before
	content: '\f09a'
.social-menu-widget a[href*="plus.google.com"]::before
	content: '\f0d5'
.social-menu-widget a[href*="google.com/+"]::before
	content: '\f0d5'
.social-menu-widget a[href*="dribbble.com"]::before
	content: '\f17d'
.social-menu-widget a[href*="pinterest.com"]::before
	content: '\f231'
.social-menu-widget a[href*="youtube.com"]::before
	content: '\f167'
.social-menu-widget a[href*="flickr.com"]::before
	content: '\f16e'
.social-menu-widget a[href*="vimeo.com"]::before
	content: '\f194'
.social-menu-widget a[href*="instagram.com"]::before
	content: '\f16d'
.social-menu-widget a[href*="linkedin.com"]::before
	content: '\f0e1'
.social-menu-widget a[href*="foursquare.com"]::before
	content: '\f180'
.social-menu-widget a[href*="tumblr.com"]::before
	content: '\f173'
.social-menu-widget a[href*="behance.net"]::before
	content: '\f1b4'
.social-menu-widget a[href*="deviantart.com"]::before
	content: '\f1bd'
.social-menu-widget a[href*="soundcloud.com"]::before
	content: '\f1be'
.social-menu-widget a[href*="spotify.com"]::before
	content: '\f1bc'
.social-menu-widget a[href*="weibo.com"]::before
	content: '\f18a'
.social-menu-widget a[href*="xing.com"]::before
	content: '\f168'
.social-menu-widget a[href*="trello.com"]::before
	content: '\f181'
.social-menu-widget a[href*="skype.com"]::before
	content: '\f17e'
.social-menu-widget a[href*="github.com"]::before
	content: '\f09b'
.social-menu-widget a[href*="steampowered.com"]::before
	content: '\f1b6'
.social-menu-widget a[title*="Home"]::before
	content: '\f015'
.social-menu-widget a[title*="Linux"]::before
	content: '\f17c'
.social-menu-widget a[title*="QQ"]::before
	content: '\1d6'
.social-menu-widget a[title*="Wechat"]::before
	content: '\1d7'

/* Default widgets */
.widget_recent_posts ul,
.widget_recent_comments ul
	list-style: none
	padding: 0
.widget_recent_posts li::before,
.widget_recent_comments li::before
	font-family: Fontawesome
	font-size: 15px

.widget_recent_comments li::before
	content: '\f0e5'
	margin-right: 8px
